## Getting country data, dataset triangulation angle (unsuccessful)

In [ ]:
df_ea = pd.read_stata('ethnoatlas_dataset.dta')
df_ea.ethnicity_name = df_ea.ethnicity_name.str.strip(' .')
df_ea

,economic_complexity,political_hierarchies,plow,fem_part_agriculture,tropical_climate,agricultural_suitability,ethnicity_name,v104,v106,large_animals
0,nomadic or fully migratory,one levels,0.0,NaN,1.00000,0.000000,ABABDA,24,34,1.0
1,neighborhoods of dispersed family homesteads,one levels,0.0,NaN,1.00000,0.438692,ABARAMBO,4,27,1.0
2,compact and relatively permanent,no levels,0.0,3.0,NaN,NaN,ABELAM,4,-145,1.0
3,nomadic or fully migratory,no levels,0.0,NaN,1.00000,0.896010,ABIPON,-29,-61,1.0
4,neighborhoods of dispersed family homesteads,one levels,1.0,2.0,0.16129,0.394223,ABKHAZ,43,41,1.0
...,...,...,...,...,...,...,...,...,...,...
1260,"separated hamlets, forming a single community",no levels,0.0,4.0,1.00000,0.938156,ZIGULA,-6,39,1.0
1261,neighborhoods of dispersed family homesteads,three levels,0.0,4.0,1.00000,0.754703,ZINZA,-3,31,1.0
1262,compact and relatively permanent,no levels,0.0,NaN,1.00000,0.375770,ZUANDE,7,11,1.0
1263,neighborhoods of dispersed family homesteads,three levels,0.0,4.0,1.00000,0.916303,ZULU,-29,31,1.0
1264,compact and relatively permanent,no levels,0.0,2.0,1.00000,0.207537,ZUNI,35,-109,1.0

In [ ]:
df_IPUMS = pd.read_stata('IPUMS_dataset.dta')
df_IPUMS

,ilf,plow,economic_complexity,political_hierarchies,tropical_climate,agricultural_suitability,large_animals,age,age_sq,married,edattan,urban,year,ethnicity,country,district
0,0.0,1.0,compact and relatively permanent,one levels,1.0,0.951111,1.0,41,1681.0,1.0,Less than primary completed,Rural,2001,ORAON,nepal,20004.0
1,0.0,0.0,compact and relatively permanent,three levels,1.0,0.462366,1.0,22,484.0,1.0,Less than primary completed,Rural,2002,GANDA,uganda,2000002.0
2,0.0,0.0,neighborhoods of dispersed family homesteads,one levels,1.0,0.789006,1.0,16,256.0,0.0,Primary completed,Rural,1991,GISU,uganda,2000002.0
3,0.0,0.0,"separated hamlets, forming a single community",no levels,1.0,0.025210,1.0,39,1521.0,1.0,University completed,Rural,1990,IFUGAO,philippines,200028.0
4,0.0,1.0,compact and relatively permanent,four levels,0.0,0.974212,1.0,45,2025.0,1.0,Primary completed,Urban,2000,SHANTUNG,malaysia,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4536669,1.0,1.0,compact and relatively permanent,three levels,1.0,0.860034,1.0,37,1369.0,1.0,Secondary completed,Urban,2002,SPANIARDS,chile,100011.0
4536670,1.0,1.0,seminomadic,three levels,0.0,0.041369,1.0,44,1936.0,0.0,Secondary completed,NaN,2000,KHALKA,mongolia,2019.0
4536671,1.0,1.0,compact and relatively permanent,two levels,1.0,0.000000,1.0,23,529.0,0.0,Secondary completed,Urban,1991,MALAYS,malaysia,210.0
4536672,1.0,1.0,compact and relatively permanent,three levels,1.0,0.057706,1.0,46,2116.0,0.0,Less than primary completed,Rural,2008,CAMBODIAN,cambodia,10018.0
4536673,1.0,0.0,neighborhoods of dispersed family homesteads,no levels,1.0,0.618276,1.0,51,2601.0,0.0,Less than primary completed,Rural,2002,CHIGA,uganda,2000004.0

In [ ]:
df_IPUMS.ethnicity[df_IPUMS.ethnicity.str.contains('UNI')]

Series([], Name: ethnicity, dtype: object)

In [ ]:
df_ea.merge(df_IPUMS[['ethnicity', 'plow','country']], left_on=['ethnicity_name','plow'], right_on=['ethnicity','plow'], how='left')

,economic_complexity,political_hierarchies,plow,fem_part_agriculture,tropical_climate,agricultural_suitability,ethnicity_name,v104,v106,large_animals,ethnicity,country
0,nomadic or fully migratory,one levels,0.0,NaN,1.00000,0.000000,ABABDA,24,34,1.0,NaN,NaN
1,neighborhoods of dispersed family homesteads,one levels,0.0,NaN,1.00000,0.438692,ABARAMBO,4,27,1.0,NaN,NaN
2,compact and relatively permanent,no levels,0.0,3.0,NaN,NaN,ABELAM,4,-145,1.0,NaN,NaN
3,nomadic or fully migratory,no levels,0.0,NaN,1.00000,0.896010,ABIPON,-29,-61,1.0,NaN,NaN
4,neighborhoods of dispersed family homesteads,one levels,1.0,2.0,0.16129,0.394223,ABKHAZ,43,41,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4537816,"separated hamlets, forming a single community",no levels,0.0,4.0,1.00000,0.938156,ZIGULA,-6,39,1.0,NaN,NaN
4537817,neighborhoods of dispersed family homesteads,three levels,0.0,4.0,1.00000,0.754703,ZINZA,-3,31,1.0,NaN,NaN
4537818,compact and relatively permanent,no levels,0.0,NaN,1.00000,0.375770,ZUANDE,7,11,1.0,NaN,NaN
4537819,neighborhoods of dispersed family homesteads,three levels,0.0,4.0,1.00000,0.916303,ZULU,-29,31,1.0,NaN,NaN
4537820,compact and relatively permanent,no levels,0.0,2.0,1.00000,0.207537,ZUNI,35,-109,1.0,NaN,NaN

In [ ]:
df_etno = df_IPUMS.groupby(['ethnicity', 'country']).count().reset_index()

!!IPUMS has multiple countries, ethnicities, districts. There are multiple districts with the same name. Multiple ethnicities can be in a district. An ethnicity can be in multiple countries.

I want a mapping of ethnicities to coutries.

But i need to map the ethnicity and district to countries, because some ethnicities are present in multiple countries.

In [ ]:
df_etno.ethnicity

0        ACHOLI
1      ALACALUF
2          ALUR
3        AMHARA
4      ANNAMESE
         ...
145    WALLOONS
146    WALLOONS
147      YAHGAN
148       YAKUT
149        YAMI
Name: ethnicity, Length: 150, dtype: object

### Brute force country find

In [ ]:
import lingtypology as lt
print(lt.glottolog.get_iso_by_glot_id('bini1246').upper())
lt.glottolog.get_affiliations('bini1246')

BIN
(get_affiliations) Warning: affiliation for b not found
(get_affiliations) Warning: affiliation for i not found
(get_affiliations) Warning: affiliation for n not found
(get_affiliations) Warning: affiliation for i not found
(get_affiliations) Warning: affiliation for 1 not found
(get_affiliations) Warning: affiliation for 2 not found
(get_affiliations) Warning: affiliation for 4 not found
(get_affiliations) Warning: affiliation for 6 not found

['', '', '', '', '', '', '', '']

In [ ]:
# df_ea = pd.read_csv('etnographic_atlas.csv').merge(pd.read_csv('societies.csv')[['id','glottocode']], left_on='soc_id', right_on='id', how='inner').drop(['id'], axis=1)
# df_ea['cntry'] = df_ea.apply(lambda x: lt.glottolog.get_iso_by_glot_id(x.glottocode),axis=1)
# df_ea.to_csv('etnographic_atlas.csv', index=False)

### Another angle

In [ ]:
df_ea = pd.read_csv('etnographic_atlas.csv')
df_ea.cntry = df_ea.cntry.str.upper()

In [ ]:
df_ea

,soc_id,sub_case,year,var_id,code,comment,references,source_coded_data,admin_comment,glottocode,cntry
0,Aa1,Nyai Nyae region,1950.0,EA001,8.0,NaN,biesele1972; biesele1975; biesele1976; draper1...,EthnographicAtlas_1967_p62,NaN,juho1239,KTZ
1,Aa1,Nyai Nyae region,1950.0,EA010,9.0,NaN,biesele1972; biesele1975; biesele1976; draper1...,EthnographicAtlas_1967_p62,NaN,juho1239,KTZ
2,Aa1,Nyai Nyae region,1950.0,EA011,2.0,NaN,biesele1972; biesele1975; biesele1976; draper1...,EthnographicAtlas_1967_p62,NaN,juho1239,KTZ
3,Aa1,Nyai Nyae region,1950.0,EA112,1.0,NaN,NaN,Gray (1999); Bourguignon (1973),NaN,juho1239,KTZ
4,Aa1,Nyai Nyae region,1950.0,EA113,2.0,NaN,NaN,Gray (1999); Greenbaum (1973),NaN,juho1239,KTZ
...,...,...,...,...,...,...,...,...,...,...,...
121349,ec21,Hor River group,1890.0,EA087,8.0,NaN,arsenev1926; girfanova2000; ivashchenko1989; k...,Ethnology_Vol43_No1_Winter_2004,NaN,udih1248,UDE
121350,ec21,Hor River group,1890.0,EA088,4.0,NaN,arsenev1926; girfanova2000; ivashchenko1989; k...,Ethnology_Vol43_No1_Winter_2004,NaN,udih1248,UDE
121351,ec21,Hor River group,1890.0,EA009,2.0,NaN,arsenev1926; girfanova2000; ivashchenko1989; k...,Ethnology_Vol43_No1_Winter_2004,NaN,udih1248,UDE
121352,ec21,NaN,NaN,EA090,NaN,NaN,NaN,NaN,NaN,udih1248,UDE
121353,ec21,NaN,NaN,EA094,NaN,NaN,NaN,NaN,NaN,udih1248,UDE

In [ ]:
df_ea = pd.read_csv('etnographic_atlas.csv').merge(pd.read_csv('societies.csv')[['id','pref_name_for_society']], left_on='soc_id', right_on='id', how='inner').drop(['id'], axis=1).rename(columns={'pref_name_for_society': 'society'})

In [ ]:
df_IPUMS.ethnicity = df_IPUMS.ethnicity.str.lower() 
df_IPUMS.ethnicity = df_IPUMS.ethnicity.astype('category')

In [ ]:
df_ea.society = df_ea.society.str.lower() 
df_ea.society = df_ea.society.astype('category')

In [ ]:
df_ea

,soc_id,sub_case,year,var_id,code,comment,references,source_coded_data,admin_comment,glottocode,cntry,society
0,Aa1,Nyai Nyae region,1950.0,EA001,8.0,NaN,biesele1972; biesele1975; biesele1976; draper1...,EthnographicAtlas_1967_p62,NaN,juho1239,ktz,!kung
1,Aa1,Nyai Nyae region,1950.0,EA010,9.0,NaN,biesele1972; biesele1975; biesele1976; draper1...,EthnographicAtlas_1967_p62,NaN,juho1239,ktz,!kung
2,Aa1,Nyai Nyae region,1950.0,EA011,2.0,NaN,biesele1972; biesele1975; biesele1976; draper1...,EthnographicAtlas_1967_p62,NaN,juho1239,ktz,!kung
3,Aa1,Nyai Nyae region,1950.0,EA112,1.0,NaN,NaN,Gray (1999); Bourguignon (1973),NaN,juho1239,ktz,!kung
4,Aa1,Nyai Nyae region,1950.0,EA113,2.0,NaN,NaN,Gray (1999); Greenbaum (1973),NaN,juho1239,ktz,!kung
...,...,...,...,...,...,...,...,...,...,...,...,...
121349,ec21,Hor River group,1890.0,EA087,8.0,NaN,arsenev1926; girfanova2000; ivashchenko1989; k...,Ethnology_Vol43_No1_Winter_2004,NaN,udih1248,ude,udihe
121350,ec21,Hor River group,1890.0,EA088,4.0,NaN,arsenev1926; girfanova2000; ivashchenko1989; k...,Ethnology_Vol43_No1_Winter_2004,NaN,udih1248,ude,udihe
121351,ec21,Hor River group,1890.0,EA009,2.0,NaN,arsenev1926; girfanova2000; ivashchenko1989; k...,Ethnology_Vol43_No1_Winter_2004,NaN,udih1248,ude,udihe
121352,ec21,NaN,NaN,EA090,NaN,NaN,NaN,NaN,NaN,udih1248,ude,udihe
121353,ec21,NaN,NaN,EA094,NaN,NaN,NaN,NaN,NaN,udih1248,ude,udihe

In [ ]:
df_ea.merge(pd.read_csv('languoid.csv')[['id','country_ids']], left_on='glottocode', right_on='id', how='inner').drop(['id'], axis=1)

,soc_id,sub_case,year,var_id,code,comment,references,source_coded_data,admin_comment,glottocode,cntry,society,country_ids
0,Aa1,Nyai Nyae region,1950.0,EA001,8.0,NaN,biesele1972; biesele1975; biesele1976; draper1...,EthnographicAtlas_1967_p62,NaN,juho1239,ktz,!kung,BW NA
1,Aa1,Nyai Nyae region,1950.0,EA010,9.0,NaN,biesele1972; biesele1975; biesele1976; draper1...,EthnographicAtlas_1967_p62,NaN,juho1239,ktz,!kung,BW NA
2,Aa1,Nyai Nyae region,1950.0,EA011,2.0,NaN,biesele1972; biesele1975; biesele1976; draper1...,EthnographicAtlas_1967_p62,NaN,juho1239,ktz,!kung,BW NA
3,Aa1,Nyai Nyae region,1950.0,EA112,1.0,NaN,NaN,Gray (1999); Bourguignon (1973),NaN,juho1239,ktz,!kung,BW NA
4,Aa1,Nyai Nyae region,1950.0,EA113,2.0,NaN,NaN,Gray (1999); Greenbaum (1973),NaN,juho1239,ktz,!kung,BW NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
121349,ec21,Hor River group,1890.0,EA087,8.0,NaN,arsenev1926; girfanova2000; ivashchenko1989; k...,Ethnology_Vol43_No1_Winter_2004,NaN,udih1248,ude,udihe,RU
121350,ec21,Hor River group,1890.0,EA088,4.0,NaN,arsenev1926; girfanova2000; ivashchenko1989; k...,Ethnology_Vol43_No1_Winter_2004,NaN,udih1248,ude,udihe,RU
121351,ec21,Hor River group,1890.0,EA009,2.0,NaN,arsenev1926; girfanova2000; ivashchenko1989; k...,Ethnology_Vol43_No1_Winter_2004,NaN,udih1248,ude,udihe,RU
121352,ec21,NaN,NaN,EA090,NaN,NaN,NaN,NaN,NaN,udih1248,ude,udihe,RU
121353,ec21,NaN,NaN,EA094,NaN,NaN,NaN,NaN,NaN,udih1248,ude,udihe,RU

!!!Problem, some languages are in multiple countries, and they are not in order.

In [ ]:
ccc = pd.read_csv('languoid.csv')[['id','country_ids']]
ccc = ccc.dropna()
ccc['country_ids'] = ccc['country_ids'].str.split().apply(lambda x: x)
ccc[ccc.id == 'russ1263'].country_ids.values

array([list(['BY', 'CN', 'EE', 'FI', 'GE', 'KG', 'KP', 'KZ', 'LT', 'LV', 'MD', 'MN', 'NO', 'PL', 'RO', 'RU', 'SJ', 'TM', 'UA', 'UZ'])],
      dtype=object)